<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>EJS <%= title %></title>
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="/"><h1><Blog Ninja></h1></Blog></a>
            <p>A net ninja site</p>
        </div>
        <uL class="ul-com">
            <li><a href="/blogs">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/create">New Blog</a></li>
        </uL>
    </nav>

    <div class="blogscontent404">
        <p>404 Not Found!!!!!!!!!</p>
    </div>
</body>
</html>