<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>EJS <%= title %></title>
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="/"><h1><Blog Ninja></h1></Blog></a>
            <p>NINJA SITE</p>
        </div>
        <uL class="ul-com">
            <li><a href="/blogs">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/create">New Blog</a></li>
        </uL>
    </nav>

    <div class="blogscontent">
        <h2>About Us</h2>
        <p>Welcome to Blog Ninja!</p>
        <p>At Blog Ninja, we believe in the power of storytelling and the impact of sharing knowledge. Our mission is to provide a platform where writers, bloggers, and enthusiasts can come together to explore a diverse range of topics, from tech and lifestyle to travel and personal development.</p>
        <p>Our team is passionate about creating high-quality, engaging content that resonates with our readers. Whether you're looking for in-depth articles, helpful tips, or inspiring stories, Blog Ninja is here to deliver valuable insights and foster a community of curious minds.</p>
        <p>Thank you for visiting our site! We hope you enjoy reading our blogs as much as we enjoy creating them. If you have any questions, feedback, or collaboration ideas, feel free to <a href="/contact">get in touch</a>.</p>
   
    </div>
</body>
</html>